# This file is a template, and might need editing before it works on your project.
# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:14

# 設定 submodule 策略
variables:
  GIT_SUBMODULE_STRATEGY: recursive

# This folder is cached between builds
# http://docs.gitlab.com/ee/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/

stages:
  - .pre
  - build
  - deploy
# build 之前，檔案的解析
# 轉換 webp 格式
pre_parse:
  stage: .pre
  script:
    - git submodule init
    - git submodule update --recursive --remote
    - npm install
    - npm run prepareFile
  artifacts:
    paths:
      - assets/

# build 階段，打包程式
build:
  stage: build
  only:
    refs:
      - tags    # 有tag的時候
      - web     # 在 gitlab 網頁  CI/CD -> Run Pipeline 可以手動觸發
  script:
    - ./node_modules/.bin/webpack --config webpack.prod.js
    - node buildTool/buildFileParse.js "$LOG"
    - mv dist/Release "$CI_PROJECT_TITLE"       # 移動到根目錄下，方便artifacts下載的時候路徑簡單

  artifacts:
    name: "$CI_PROJECT_TITLE"
    paths:
      - "$CI_PROJECT_TITLE"

  dependencies:
    - pre_parse

push-to-remote:
  stage: deploy
  rules:
    - when: manul
  dependencies:
    - build

  script:
    - export
    - ls -l

  