# This file is a template, and might need editing before it works on your project.
# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:14

# This folder is cached between builds
# http://docs.gitlab.com/ee/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/

stages:
  - .pre
  - build
  - after-build
  - .post

# build 之前，檔案的解析
# 轉換 webp 格式
pre_parse:
  stage: .pre
  script:
    - git submodule init
    - git submodule update --recursive --remote
    - npm install
    - npm run prepareFile
  artifacts:
    paths:
      - assets/

# build 階段，打包程式
build:
  stage: build
  only:
      - tags
      - test
      - web
  script:
    # 把相對路徑的 submodule 拉下來
    - git submodule init
    - git submodule update --recursive --remote
    - ./node_modules/.bin/webpack --config webpack.prod.js
    - node buildTool/buildFileParse.js
    - ls
    - mv dist/Release "$CI_PROJECT_TITLE"

  artifacts:
    name: "$CI_PROJECT_TITLE"
    paths:
      - "$CI_PROJECT_TITLE"

  dependencies:
    - pre_parse

