<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script src="https://cdn.jsdelivr.net/npm/pixi.js-legacy@5.3.9/dist/pixi-legacy.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pixi-spine@2.1.4/bin/pixi-spine.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/EasePack.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/PixiPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/MotionPathPlugin.min.js"></script>

  <script src="Lib/AssetMgr/index.js"></script>
  <script src="Lib/EventHandler/index.js"></script>
  <script src="Lib/Debug/index.js"></script>
  <script src="Lib/Loading/index.js"></script>
  <script src="Lib/LocalizationMgr/index.js"></script>
  <script src="Lib/ParameterParse/index.js"></script>
</head>
<body>
  <div id="game">
    <div id="div_pixi"></div>
  </div>
</body> 
</html>

